{# filepath: templates/outfit/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new Outfit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Save</button>
    {{ form_end(form) }}

    {% if aiResponse %}
        <h2>AI Response</h2>
        <pre>{{ aiResponse|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    {% endif %}
{% endblock %}