{% extends 'base.html.twig' %}

{% block title %}Feed Social{% endblock %}

{% block body %}
<div class="container mx-auto pt-8 dark:text-white dark:bg-gray-dark"> 
    <div class="flex justify-center">
        <h1 class="text-2xl font-bold mb-4" style="font-family: var(--font-display);">Shape of You</h1>
    </div>

    <div class="flex justify-center col-span-1 sm:col-span-2 md:col-span-3 mt-4">
        <input type="text" id="search-input" class="px-4 py-2 border border-gray-300 rounded" placeholder="Rechercher..." oninput="filterOutfits()">
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-6" id="outfit-list">
        {% import 'macros/macro.html.twig' as macros %}
        {% for outfit in outfits %}
            {{ macros.outfit_card(outfit) }}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    function toggleLike(outfitId) {
        fetch(`/like/${outfitId}`, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
                return;
            }

            return response.json();
        })
        .then(data => {
            if (data && data.likesCount !== undefined) {
                document.getElementById(`likes-count-${outfitId}`).textContent = `${data.likesCount}`;
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function filterOutfits() {
        const searchInput = document.getElementById('search-input').value.toLowerCase();
        const outfits = document.querySelectorAll('.outfit-item');
        
        outfits.forEach(outfit => {
            const outfitName = outfit.getAttribute('data-name');
            const itemNames = outfit.querySelectorAll('.item-name');
            const itemDescriptions = outfit.querySelectorAll('.item-description');
            
            let match = outfitName.includes(searchInput);

            itemNames.forEach(item => {
                if (item.getAttribute('data-name').includes(searchInput)) {
                    match = true;
                }
            });

            itemDescriptions.forEach(item => {
                if (item.getAttribute('data-description').includes(searchInput)) {
                    match = true;
                }
            });

            if (match) {
                outfit.style.display = '';
            } else {
                outfit.style.display = 'none';
            }
        });
    }
</script>
{% endblock %}